<h1> Add a place to your list</h1>
<form method="post" action='/lists'>
   <label for ="list.name"> Name </label>
   <input type="text" name="name" id="list_name">
   <label for ="list.reason"> Why do you want to go there?</label>
   <input type="text" name="reason" id="list_reason">
   <input type="submit" name="Save">
   
</form>