<h1>Log in to your account</h1>


<form method="post" action="/login">
   <input class='text' type='text' name='username' placeholder='Username' required><br>
    <input class='text' type='password' name='password' placeholder='Password' required><br>
    <br>
    <input class='submit' type='submit' value='submit' class='button'>
</form>


<div>
<a href="/signup"><button> Or Sign-up</button></a>
</div>