<h1>Welcome,<%= current_user.username%></h1>
<h2>Vacation Wish List</h2>  

    
    <ol>
      <% @places.each do |place| %>
        <li>Name:<%= place.name.capitalize %> <br>
            Why do you want to go? <%= place.content %>
        </li>
      <% end %>
   </ol>
   
    <h4><a href="/places/new">Add new place</a></h4>
    <h4><a href="/places">Back</a></h4>
    <a href="/logout" >Logout</a>