<h1> Add a place to your list</h1>
<form method="post" action='/lists'>
   <label for ="place.name"> Name </label><br>
   <input type="text" name="name" id="place_name"> <br>
   <label for ="place.content"> Why do you want to go there?</label><br>
   <input type="text" name="content" id="place_content"><br>
   <input type="submit" name="Save">
   
</form>