
<h1> Edit a place on your list: </h1>
<form action='/places/<%= @place.id %>' method="post">
  <input type="hidden" name="_method" value="patch">
    Name: <input type="text" name="name" value="<%=@place.name%>" id="name"><br>
    Why do you want to go there? <input type="text" name="content" value="<%=@place.content%>" id="content"><br>
   <input type="submit" name="Update">
</form>


 <h4><a href="/places">Back</a></h4> 
 <a href="/logout" >Logout</a>