
<h1> Edit a place on your list </h1>
<form action='/lists/:list_id/places/<%=@place.id %>' method="post">
  <input type="hidden" name="_method" value="patch">
   Name: <br>
   <input type="text" name="place[name]"> <br>
   <% if @list.id == 1 %>
    Pro Tip:
   <input type="text" name="place[content]"><br>
   <% else %>
    Why do you want to go there? <br>
   <input type="text" name="place[content]"><br>
   <input type="submit" name="Save">
   <% end %>
</form>


  <form action="/lists/:list_id/places/<%= @place.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete" id="delete">
  </form>