<h1> Add a place to your list</h1>
  <form action="/places" method="post">
   Name: <br>
   <input type="text" name="place[name]"> <br>
    Why do you want to go there? <br>
   <input type="text" name="place[content]"><br>
   <input type="submit" name="Save">
</form>
<h4><a href="/places">Back</a></h4>