<h1> Welcome, <%= @user.username %></h1>
<h2>Vacation Wish List</h2>

<ul>
<li><% @list.places.each do |post| %>
    <p><%= post.name%></p> <br>
    <p>Reason I want to go: <%= post.content%></p>
    <% end %>
</li>
</ul>


<div>
<a href="/place/new"><button>Add a place</button></a>
</div>